@charset "utf-8";

#SP_MENU{
	display:none;
}
#PC_MENU{
	display:block !important;
}
#LOGO img{
	width:141px;
}

header{
	padding:20px 0 0 !important;
}

header ul{
	float:right;
	padding:17px 0 0;
}
header li{
	display:inline-block;
	font-weight: bold;
	margin:0 4px;
}
header li,header li *{
	vertical-align: bottom;
}
.social_link{
	font-size:2.2rem !important;
}
#PC_MENU li span.sp_menu_txt{
	display:none;
}
#PC_MENU li span.pc_menu_txt{
	display:block;
}


@media (max-width: 749px){
	header ul{
		padding:0;
	}
}

#PAGE_TOP{
	text-align: right;
}

#SEARCH_ENGINE label{
	font-size:1.3rem;
	font-weight:bold;
	color:#887f69;
}
