@charset "utf-8";

#PC_MENU{
	display:none;
}
#LOGO img{
	width:110px;
}

#LOGO{
	width:100%;
	text-align: center;
}
#LOGO img{
	margin-top:15px;
}

#SP_MENU{
	text-align: center;
}
#SP_MENU li{
	display:inline-block;
	cursor: pointer;
	margin:0 4px;
	font-size: 2.4rem;
}
#SP_MENU li,#SP_MENU li *{
	vertical-align: bottom;
}

#PC_MENU{
	background:#ff6d77;
	padding:10px;
}
#PC_MENU li{
	list-style: none;
	font-weight:normal;
	border-bottom:1px solid #fff;
}
#PC_MENU li:nth-child(4){
	border: none;
	margin-bottom:-10px;
}
#PC_MENU li span.pc_menu_txt{
	display:none;
}
#PC_MENU li span.sp_menu_txt{
	display:block;
}
#PC_MENU a{
	display: block;
	padding-bottom:10px;
	color:#fff;
}
.social_link{
	display: none;
}

#PAGE_TOP{
	text-align: center;
}

footer li{
	margin:0 1px;
}

#SEARCH_ENGINE h4{
	display:none;
}

.sub_pict{
	width:40%;
	padding:15px 3%;
	float:left;
}
.sub_text{
	padding:10px 2%;
	width:50%;
	float:right;
}
.more_button{
	text-align:left;
}
